@using Microsoft.AspNetCore.Identity
@using Personal_Collection_Manager.Data.DataBaseModels;
@inject SignInManager<ApplicationUser> SignInManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Dashboard" asp-action="Index" >Dashboard</a>
        </li>
        @if (User.IsInRole(UserRole.Admin))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="User" asp-action="Index" >Manage users</a>
            </li>
        }
    }
</ul>
