@using Microsoft.Extensions.Localization;
@using Personal_Collection_Manager.Resources.Views
@inject IStringLocalizer<SharedResources> SharedLocalizer

@using Microsoft.AspNetCore.Identity
@using Personal_Collection_Manager.Data.DataBaseModels;
@inject SignInManager<ApplicationUser> SignInManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link" asp-controller="Dashboard" asp-action="Index">
                @SharedLocalizer["DashboardButton"]
            </a>
        </li>
        @if (User.IsInRole(UserRole.Admin))
        {
            <li class="nav-item">
                <a class="nav-link" asp-controller="User" asp-action="Index">
                    @SharedLocalizer["User manager"]
                </a>
            </li>
        }
    }
</ul>
