@using Microsoft.AspNetCore.Identity
@using Personal_Collection_Manager.Data.DataBaseModels;
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Dashboard" asp-action="Index" asp-route-id="@((await UserManager.FindByNameAsync(User.Identity.Name)).Id)" >Dashboard</a>
        </li>
        @if (User.IsInRole(UserRole.Admin))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="User" asp-action="Index" >Manage users</a>
            </li>
        }
    }
</ul>
