@using Microsoft.Extensions.Localization;
@using Personal_Collection_Manager.Resources.Views
@inject IStringLocalizer<SharedResources> CollectionsLocalizer

@model List<CollectionViewModel>;

<div class="album py-5 bg-gray-opaque">
    @if (Model.Count > 0)
    {
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                @foreach (var collection in Model)
                {
                    @await Html.PartialAsync("~/Views/Collection/_CollectionPartial.cshtml", collection)
                }
            </div>
        </div>
    }
    else
    {
        <h4 class="text-warning">@CollectionsLocalizer["noCollection"]</h4>
    }
</div>