@using Microsoft.AspNetCore.Identity;
@using Personal_Collection_Manager.Data.DataBaseModels;
@inject UserManager<ApplicationUser> _userManager;
@model List<CommentViewModel>
@{
    var email = _userManager.GetUserAsync(User).Result.Email;
}

<script>
    
</script>

@foreach (var comment in Model)
{
    <div class="alert alert-light m-3@(email.Equals(comment.AuthorEmail)?" col-9 ms-auto" : " col-9")">
        <div class="row col-12">
            <div class="col-9 multiline-div pe-4">@comment.Text</div>
            <div class="col d-flex flex-column float-end">
                <div>@comment.AuthorEmail</div>
                @if (email.Equals(comment.AuthorEmail))
                {
                    <div class="btn-group">
                        <button onclick="editComment(@comment.Id);" class="btn btn-outline-primary">
                            <i class="bi bi-pencil"></i>
                        </button>
                        <button onclick="deleteComment(@comment.Id);" class="btn btn-outline-danger">
                            <i class="bi bi-x-lg"></i>
                        </button>
                    </div>
                }
            </div>
        </div>
    </div>
}
