@using Microsoft.AspNetCore.Identity;
@using Personal_Collection_Manager.Data.DataBaseModels;
@inject UserManager<ApplicationUser> _userManager;
@model (List<CollectionViewModel> Collections, string UserId);

@{
    ViewData["Title"] = "My collections";
    string userId = (await _userManager.GetUserAsync(User)).Id;
    string ownerEmail = _userManager.Users.First(u => u.Id == Model.UserId).Email;
}

<div class="text-center">

    <div class="px-4 py-5 my-5 text-center">
        <div class="row">
            @if (Model.UserId.Equals(userId))
                {
            <h2 class="col">My Collections</h2>
                }
                else
            {
            <h2 class="col">Collections of @ownerEmail</h2>
            }
            <div class="align-items-end col">
                @if (Model.UserId.Equals(userId))
                {
                    <a class="btn btn-outline-primary" asp-controller="Collection" asp-action="Edit" asp-route-id="null">
                        Create new Collection
                    </a>
                }
            </div>
        </div>
        <div class="album py-5 bg-light">
            @if (Model.Collections.Count > 0)
            {
                <div class="container">
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                        @foreach (var collection in Model.Collections)
                        {
                            @await Html.PartialAsync("~/Views/Collection/_CollectionPartial.cshtml", collection)
                        }
                    </div>
                </div>
            }
            else
            {
                <h4 class="text-warning">You don't have collection yet. Create your first one!</h4>
            }
        </div>
    </div>
</div>
