@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">The biggest collections</h1>
    <div id="theBiggestCollections"></div>
</div>

@section Scripts{
    <script src="~/js/home/index.js"></script>
}