html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
}

#tagCloud {
    width: inherit;
}

#alert {
    max-width: 450px;
}

.inherit-color {
    color: inherit;
    background-color: inherit;
}

.bg-gray-opaque {
    background-color: #80808020;
}

.btn-outline-light {
    color: inherit;
}

.collectionImg {
    width: 100%;
    height: auto;
    aspect-ratio: 3/2;
    object-fit: cover;
    object-position: top;
    background: linear-gradient(to bottom, #0d6efd50, #6c757d50);
}

.autosize {
    resize: none;
    overflow: hidden;
}

.form-group {
    margin: 1em;
}

.multiline-div {
    white-space: pre-wrap;
}

.entry:not(:first-of-type) {
    margin-top: 10px;
}

.glyphicon {
    font-size: 12px;
}
